# Dependencies
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Build
dist
build
*.egg-info/

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db